[Unit]
Description=gms - grundstein magic page server
Documentation=https://docs.grundstein.it/gms
After=network.target

[Service]
Type=simple
User=grundstein
ExecStart=/usr/bin/gms
Restart=on-failure
StandardOutput=/var/log/gms/access.log
StandardError=/var/log/gms/error.log

[Install]
WantedBy=multi-user.target
